body{
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 1.5em;
}
.fcontainer{
    position: relative;
    width: 100%;
    max-width: 3900px;
    margin: 0px auto;
}
.fcontainer .heading{
    position: absolute;
    bottom: 0%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 99%;
    padding: 100px 20px;
}
.fcontainer img{
    width: 100%;
    height: 100%;
    /* size: inherit; */
}
body h2{
    color: yellowgreen;
    text-align: center;
    margin: 0px 0px 10px;
}
body h3{
    color: purple;
    text-align: center;
    margin: 0px 0px 5px;
}
.scontainer h2,h3{
    text-align: center;
}
.scontainer h3{
    color: grey;
}
.scontainer{
    padding: 20px;
    text-align: justify;
    margin: 25px 15%;
    line-height: 2;
}
.decor{
    background-color: rgba(0, 0, 0, 0.8);
    background: linear-gradient(to right, black, black, black, orange);
}

.decor h2{
    margin: 0px 35%;
    padding: 10px 0px;
    color: orange;
    background-color: whitesmoke;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 25px 7%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 90px;
}
.card-body{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    padding: 0px 20px 20px;
    width: 240px;
    height: 480px;
    margin: 3%;
    opacity: 0.8;
    background-color: whitesmoke;
    border-radius: 1.5%;
}
.card-body a{
    text-decoration: none;
    cursor: pointer;
}
.card-body p{
    /* text-align: justify; */
    margin: 20px;
    cursor:text;
    padding: 25px 0px 0px;
}
.card-body:hover{
    background-color: rgba(103, 103, 103, 0.05);
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 1);
    opacity: 2;
}
.card-body img{
    width: 80px;
    max-width: 200px;
    min-width: 50px;
    border-radius: 50%;
    /* border: 1px solid rgba(128, 0, 128, 0.9); */
    border: 1px solid rgba(0, 0, 0, 0.9);
}
.cb-firstpart{
    padding: 20px 0px 0px;
    width: 240px;
    height: 75px;
    /* border-bottom:1px solid rgba(128, 0, 128, 0.9); */
    border-bottom:1px solid rgba(0, 0, 0, 0.9);
}
footer{
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    position: inherit;
    margin: 0;
    padding: 100px 0px 250px 0px;
    color: white;
}
footer p{
    text-align: center;
}
footer a{
    /* text-decoration: none; */
    cursor: pointer;
    color: orange;
}
footer .w3-referencing{
    text-align: center;
}
footer .w3-referencing a{
    color: red;
}