body{
    line-height: 1.5;
    margin: 0;
    align-items: center;
    background-color: lightgrey;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 60px;
}
.card-body{
    display: block;
    background-color: white;
    width: 480px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
    align-items: center;
    border-radius: 5px;
    margin: 12px;
    padding: 0px 20px;
}
.card-body h2, h3{
    text-align: center;
}
input{
    width: 100%;
    display: inline-flex;
    font-weight: 800;
}
input[type="text"], input[type="number"]:focus{
    background-color: lightblue;
}
